# Default ignored files
/website/node_modules
/extension/yarn.lock
/website/yarn.lock
/contracts/yarn.lock
/extension/node_modules
/extension/package-lock.json
/website/package-lock.json
.idea/
/contracts/artifacts
/contracts/cache
/contracts/node_modules
/contracts/package-lock.json